@model RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
}

<div>
    <form action="/register" method="post">
        @Html.AntiForgeryToken()
        <p>
            <label>Email</label>
            <input name="Email" value="@Model.Email" />
            <div class="error">@Html.ValidationMessageFor(m => m.Email)</div>
        </p>
        <p>
            <label>Пароль</label>
            <input name="Password" type="password"/>
            <div class="error">@Html.ValidationMessageFor(m => m.Password)</div>
        </p>
        <button>Регистрация</button>
        </form>
</div>
