@model RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
}

<div>
    <form action="/register" method="post">
        <p>
            <label>Email</label>
            <input name="Email" value="@Model.Email" />
        </p>
        <p>
            <label>Пароль</label>
            <input name="Password" type="password"/>
        </p>
        <button>Регистрация</button>
        </form>
</div>
