@model ProfileViewModel

@{
    ViewData["Title"] = "Мои статьи";
}

<h1>Мои статьи:</h1>
<div class="row"></div>
<hr/>
<p class="text-end">
    <a class="button" href="/profile/post/0">Добавить
    </a>
    </p>