@model LoginViewModel

@{
    ViewData["Title"] = "Авторизация";
}

<div>
    <form action="/login" method="post">
        @Html.AntiForgeryToken()
        <p>
            <label>Email</label>
            <input name="Email" value="@Model.Email" />
            <div class="error">@Html.ValidationMessageFor(m => m.Email)</div>
        </p>
        <p>
            <label>Пароль</label>
            <input name="Password" type="password" />
        </p>
        <p>
            <input name="RememberMe" value="true" type="checkbox" /> Не выходить
        </p>
        <button>Вход</button>
    </form>
</div>