@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        @foreach (var resume in Model)
        {
            <div class="col-sm-4 col-md-3">
                <a href="/resume/@resume.ProfileId"><img src="@resume.ProfileImage" class="profileimage" /></a>
                <h3>@resume.FirstName @resume.LastName</h3>
                <div>@resume.ProfileName</div>
            </div>
        }
    </div>
</div>
